/*
COLOR PALETTE
#2B304F Space Cadet - Dark purple + blue
#95A3B3 Cadet Grey
#6EEB83 Light Green
#2ea44f Dark Green
#343434 - dark gray - almost black
#f5f5f5 - whitesmoke
*/

/* 
H1 Font -> Roboto
H2 Font -> Roboto Mono
H3 Font -> Noto Sans
*/

/* Global styles
------------------------------------*/
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: Roboto, serif;
    font-size: 18px;
    line-height: 1.5;
    background-color: #f5f5f5;
  }
  img {
    width: 300px;
  }
  a:hover {
    text-decoration: none;
    color: #6EEB83;
  }
  h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 5em;
    line-height: 1;
  }
  h2 {
    font-size: 1.25em;
    font-family: 'Roboto Mono', monospace;
  }
  header h2 {
    font-size: 2em;
  }
  h1, h2 {
    font-weight: 700;
    margin: 0;
  }
  .content-wrap {
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
  }
  h3 {
    font-family: 'Noto Sans', serif;
    margin-bottom: 0;
  }
  .item-details h3 + p {
    font-style: italic;
  }
  .item-details h3 ~ p {
    margin: 0;
  }
  .divider > section {
    border-bottom: 1px dashed #343434;
    padding: 25px 0;
  }
  .divider > section:last-of-type {
    border-bottom: none;
  }

  /* Dropdown
  ------------------------------------*/
  .dropdown {
    position: absolute;
    display: inline-block;
    top: 0%;
    left: 0%;
    text-align: center;
  }
  #dropbtn {
    background-color: #95A3B3;
    color: black;
    padding: 16px;
    font-size: 16px;
    min-width: 150px;
    border: none;
    cursor: pointer;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f5f5f5;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    background-color: #6EEB83
  }

  @keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
  }
  .dropdown:hover .dropdown-content {
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
    display: block;
  }
  
  
  /* Profile
  ------------------------------------*/
  header {
    background-color: #2B304F;
    color: #f5f5f5;
  }
  #dark-mode-button {
    position: absolute;
    top: 1%;
    right: 1%;
    width: 5%;
  }
  #light:hover {
    opacity: 0;
  }
  
  /* Projects
  ------------------------------------*/
  .projects-dark-mode {
    background-color: #343434;
    color: #f5f5f5;
  }
  .projects .btn {
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
    background-color: lightslategray;
    color: #f5f5f5;
  }
  .projects .btn:hover {
    background-color: #6EEB83;
    color: black;
  }
  .projects li {
    padding-bottom: 0.25%;
  }
  .project-item {
    overflow: hidden;
  }
  .project-item h3 {
    margin-top: 0;
  }
  
  /* Education
  ------------------------------------*/
  .education {
    background-color: #95A3B3;
    background-position: top right;
    padding-bottom: 100px;
    color: black;
  }
  
  /* Contact Info
  ------------------------------------*/
  footer {
    background-color: #343434;
    color: #f5f5f5;
  }
  .contact-list {
    list-style-type: none;
    padding: 0;
  }
  .contact-list a {
    padding: 15px;
    display: inline-block;
    text-decoration: none;
    color: #f5f5f5;
  }
  .contact-list a:hover {
    color: #6EEB83;
  }


/* Responsive
------------------------------------*/
@media screen and (min-width:750px) {
  header, footer {
    text-align: center;
  }
  .project-item img {
    float: left;
    margin-right: 20px;
  }
  .job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }
  .contact-list {
    display: flex;
    justify-content: center;
  }
  #dark-mode-button {
    width: 4%;
    padding: 0.4%;
    position: fixed;
  }
  #third-list {
    padding-left: 40%;
  }
  #third-button {
    padding-left: 40%;
  }
  .grow { 
    transition: all .2s ease-in-out; 
    }
  .grow:hover {
    transform: scale(1.1);
  }
}

@media screen and (max-width:749px) {
  h1 {
    font-size: 4em;
    line-height: 0.9;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 1.2em;
    line-height: 1;
  }
  .contact-list a {
    padding: 5px;
  }
  .contact-list {
    text-align: center;
    padding-right: 2%;
  }
  img {
    width: 200px;
  }
  ul {
    text-align: left;
  }
  body {
    text-align: center;
  }
  #dark-mode-button {
    top: 1%;
    right: 2%;
    width: 8%;
  }
  .education h2 {
    text-align: center;
  }
  .education {
    text-align: left;
  }
  .education p {
    width: 'none';
  }
  .dropdown {
    visibility: hidden;
  }
}