---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
    <main class="rounded-md bg-[#282c37] border-transparent ml-2">
        <div
            class="text-lg flex items-center pt-3 pb-3 p-4 border border-t-0 border-l-0 border-r-0 border-b-[#393f4f]"
        >
            <span class="material-symbols-outlined pr-2">
                <a href="#">home</a></span
            >
            <a href="#">Home</a>
        </div>

        <div class="p-4">
            <div
                class="prose prose-p:text-white prose-headings:text-white prose-a:text-[#8c8dff]"
            >
                <Content />
            </div>
        </div>
    </main>
</Layout>
