---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import BlogHeader from "../../components/BlogHeader.astro";

export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const slug = "/blog/" + entry.slug;
---

<Layout title={entry.data.title}>
    <main class="rounded-md bg-[#282c37] border-transparent ml-2">
        <BlogHeader slug={slug} title={entry.data.title} />

        <h1 class="text-3xl font-bold text-center pt-5 pb-5">
            {entry.data.title}
        </h1>

        <div class="p-4">
            <div
                class="prose prose-code:text-green-400 prose-strong:text-green-400 prose-p:text-white prose-headings:text-white prose-a:text-[#8c8dff]"
            >
                <Content />
            </div>
        </div>

        <footer class="text-xl text-gray-500 font-bold text-center pt-5 pb-5">
            <a href="#top">Back to top</a>
        </footer>
    </main>
</Layout>
