---
import Layout from "../layouts/Layout.astro";

const pageTitle = "About";
const currentPageLabel = "About";
---

<Layout title={pageTitle} currentPage={currentPageLabel}>
    <section class="py-8 md:py-12">
        <div class="container mx-auto px-4">
            <div class="mb-10 text-center md:text-left">
                <h1 class="text-4xl sm:text-5xl font-bold text-cyan-400">
                    {pageTitle}
                </h1>
                <p class="mt-2 text-lg text-slate-400">
                    Here's some info about me!
                </p>
            </div>

            <div class="bg-slate-800/50 p-6 sm:p-8 rounded-lg shadow-xl">
                <div
                    class="prose prose-invert max-w-none lg:prose-lg text-slate-300 leading-relaxed space-y-6"
                >
                    <h2
                        class="text-2xl font-semibold text-cyan-300 border-b border-slate-700 pb-2"
                    >
                        Background
                    </h2>
                    <p>
                        I'm current a junior at California State University,
                        Fullerton studying Computer Science. When not studying,
                        working, or in class, you'll usually find me hanging out
                        with my friends! I will be working as a Software
                        Engineer intern at ESRI at the ArcGIS Notebooks team!
                    </p>

                    <h2
                        class="text-2xl font-semibold text-cyan-300 border-b border-slate-700 pb-2 mt-8"
                    >
                        Education
                    </h2>

                    <div class="grid grid-flow-row md:grid-cols-5 gap-6 mt-6">
                        <div
                            class="bg-slate-700 p-4 rounded-md shadow col-span-3"
                        >
                            <div class="md:grid grid-cols-2 col-span-2">
                                <h3 class="font-semibold text-cyan-400 md:mb-3">
                                    California State University, Fullerton
                                </h3>
                                <div>
                                    <p
                                        class="hidden md:block text-sm text-slate-400 mt-1 text-right"
                                    >
                                        Fullerton, CA
                                    </p>
                                    <p
                                        class="hidden md:block text-sm text-slate-400 mt-1 text-right"
                                    >
                                        2022-2026
                                    </p>
                                </div>
                            </div>
                            <p class="text-sm text-slate-400 mt-1">
                                Bachelors of Science in Computer Science
                            </p>
                        </div>

                        <div
                            class="bg-slate-700 p-4 rounded-md shadow col-span-2"
                        >
                            <a
                                href="https://github.com/jjoeldaniel/resume/blob/main/resume.pdf"
                                target="_blank"
                            >
                                <h3
                                    class="hover:font-extrabold font-semibold text-cyan-400"
                                >
                                    Resume
                                </h3>
                            </a>
                            <p class="text-sm text-slate-400 mt-1">
                                Feel free to check out my resume for more
                                in-depth information!
                            </p>
                        </div>
                    </div>

                    <h2
                        class="text-2xl font-semibold text-cyan-300 border-b border-slate-700 pb-2 mt-8"
                    >
                        Experience
                    </h2>

                    <div
                        class="mb-8 bg-slate-800/50 p-6 sm:p-8 rounded-lg shadow-xl"
                    >
                        <div
                            class="flex flex-col sm:flex-row justify-between items-start sm:items-center mb-1"
                        >
                            <h3 class="text-xl font-semibold text-slate-100">
                                Incoming Software Engineer Intern <span
                                    class="text-sm text-gray-400 ml-3"
                                    >ESRI</span
                                >
                            </h3>
                            <p class="text-sm text-slate-400 mt-1 sm:mt-0"></p>
                        </div>
                        <ul
                            class="list-disc list-outside ml-5 text-slate-300 space-y-1 text-sm sm:text-base"
                        >
                            <li>
                                Incoming Software Engineer Intern on the ArcGIS
                                Notebooks team.
                            </li>
                        </ul>
                    </div>
                    <div
                        class="mb-8 bg-slate-800/50 p-6 sm:p-8 rounded-lg shadow-xl"
                    >
                        <div
                            class="flex flex-col sm:flex-row justify-between items-start sm:items-center mb-1"
                        >
                            <h3 class="text-xl font-semibold text-slate-100">
                                Supplemental Instructor <span
                                    class="text-sm text-gray-400 ml-3"
                                    >CSUF</span
                                >
                            </h3>
                            <p class="text-sm text-slate-400 mt-1 sm:mt-0">
                                Aug. 2023 - Present
                            </p>
                        </div>
                        <ul
                            class="list-disc list-outside ml-5 text-slate-300 space-y-1 text-sm sm:text-base"
                        >
                            <li>
                                Facilitated interactive and collaborative
                                sessions to enhance students’ comprehension of
                                course material, resulting in a 10% average
                                grade increas
                            </li>
                            <li>
                                Reinforced computer science fundamentals such as
                                data structures, programming paradigms, and
                                object oriented programming
                            </li>
                        </ul>
                    </div>
                    <div
                        class="mb-8 bg-slate-800/50 p-6 sm:p-8 rounded-lg shadow-xl"
                    >
                        <div
                            class="flex flex-col sm:flex-row justify-between items-start sm:items-center mb-1"
                        >
                            <h3 class="text-xl font-semibold text-slate-100">
                                Association For Computing Machinery <span
                                    class="text-sm text-gray-400 ml-3"
                                    >President</span
                                >
                            </h3>
                            <p class="text-sm text-slate-400 mt-1 sm:mt-0">
                                Aug. 2022 - Present
                            </p>
                        </div>
                        <ul
                            class="list-disc list-outside ml-5 text-slate-300 space-y-1 text-sm sm:text-base"
                        >
                            <li>
                                Lead the largest ECS student organization at
                                CSUF with over 50 officers and 2300 members
                            </li>
                            <li>
                                Organized and led workshops, educating members
                                on AI use cases, Natural Language Processing
                                (NLP), full stack development, and data science
                                concepts
                            </li>
                            <li>
                                Co-organized a hackathon event, attracting over
                                400 applicants and 9 sponsors
                            </li>
                            <li>
                                Managed day-to-day operations including event
                                planning and outreach
                            </li>
                        </ul>
                    </div>
                    <div
                        class="mb-8 bg-slate-800/50 p-6 sm:p-8 rounded-lg shadow-xl"
                    >
                        <div
                            class="flex flex-col sm:flex-row justify-between items-start sm:items-center mb-1"
                        >
                            <h3 class="text-xl font-semibold text-slate-100">
                                Software Engineer Fellow <span
                                    class="text-sm text-gray-400 ml-3"
                                    >Major League Hacking</span
                                >
                            </h3>
                            <p class="text-sm text-slate-400 mt-1 sm:mt-0">
                                June 2024 - Aug. 2024
                            </p>
                        </div>
                        <ul
                            class="list-disc list-outside ml-5 text-slate-300 space-y-1 text-sm sm:text-base"
                        >
                            <li>
                                Contributed to Rust Analyzer, a Rust compiler
                                front-end for IDEs
                            </li>
                            <li>
                                Implemented a client-side command to
                                conveniently enable/disable LSP logging,
                                improving development workflow
                            </li>
                            <li>
                                Authored walkthrough and FAQ pages, providing
                                clear guidance for new users
                            </li>
                            <li>
                                Contributed to codebase maintainability by
                                removing outdated functionalities
                            </li>
                        </ul>
                    </div>
                    <div
                        class="mb-8 bg-slate-800/50 p-6 sm:p-8 rounded-lg shadow-xl"
                    >
                        <div
                            class="flex flex-col sm:flex-row justify-between items-start sm:items-center mb-1"
                        >
                            <h3 class="text-xl font-semibold text-slate-100">
                                Site Reliability Engineer Fellow <span
                                    class="text-sm text-gray-400 ml-3"
                                    >Major League Hacking</span
                                >
                            </h3>
                            <p class="text-sm text-slate-400 mt-1 sm:mt-0">
                                Aug. 2023 - Present
                            </p>
                        </div>
                        <ul
                            class="list-disc list-outside ml-5 text-slate-300 space-y-1 text-sm sm:text-base"
                        >
                            <li>
                                Completed 12-weeks of structured
                                curriculum-based learning covering core Site
                                Reliability Engineering topics, supplemented
                                with events / workshops hosted by industry
                                experts
                            </li>
                            <li>
                                Created an open-source personal portfolio
                                website template using Python, Flask, Jinja,
                                MySQL, Nginx, and unittest
                            </li>
                            <li>
                                Developed CI/CD deployment pipelines for Flask
                                web servers utilizing Docker, Systemd, and shell
                                scripting
                            </li>
                            <li>
                                Configured system and container monitoring,
                                alerting, and visualization using Prometheus and
                                Grafana
                            </li>
                        </ul>
                    </div>
                    <div
                        class="mb-8 bg-slate-800/50 p-6 sm:p-8 rounded-lg shadow-xl"
                    >
                        <div
                            class="flex flex-col sm:flex-row justify-between items-start sm:items-center mb-1"
                        >
                            <h3 class="text-xl font-semibold text-slate-100">
                                Research Assistant <span
                                    class="text-sm text-gray-400 ml-3"
                                    >CSUF</span
                                >
                            </h3>
                            <p class="text-sm text-slate-400 mt-1 sm:mt-0">
                                Aug. 2023 - Present
                            </p>
                        </div>
                        <ul
                            class="list-disc list-outside ml-5 text-slate-300 space-y-1 text-sm sm:text-base"
                        >
                            <li>
                                Developed interactive website educating users on
                                the correlation between foodborne illness
                                outbreaks and coastal states
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</Layout>
