---
import Layout from "../layouts/Layout.astro";
---

<link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,200"
/>

<Layout title="Periodically Programming">
    <main class="rounded-md bg-[#282c37] border-transparent ml-2">
        <div
            class="text-lg flex items-center pt-3 pb-3 p-4 border border-t-0 border-l-0 border-r-0 border-b-[#393f4f]"
        >
            <span class="material-symbols-outlined pr-2">
                <a href="#">home</a></span
            >
            <a href="#">Home</a>
        </div>

        <div class="p-4 space-y-6">
            <h2 class="text-2xl font-bold">About Me</h2>
            <p>
                Hi there! I'm Joel, a computer science major at <strong>
                    California State University, Fullerton.
                </strong>
            </p>
            <div class="space-y-5">
                <p>
                    Welcome to my website! This serves as my digital portfolio
                    and contains my blog as well as all my projects. You can
                    expect to find in-depth tutorials, insightful articles, and
                    updates on my latest projects right here on
                    periodicallyprogramming.
                </p>
                <p>
                    I hope you find my blog and projects interesting and
                    informative. Don't hesitate to reach out if you have any
                    questions or suggestions. Happy coding!
                </p>
            </div>

            <div class="space-y-5"></div>
            <h2 class="text-2xl font-bold">Contact</h2>
            <ul class="space-y-3">
                <li><a href="https://github.com/jjoeldaniel/">GitHub</a></li>
                <li>
                    <a href="https://www.linkedin.com/in/joeldanielrico/"
                        >LinkedIn</a
                    >
                </li>
                <li><a href="https://mastodon.social/@jjoel">Mastadon</a></li>
            </ul>
        </div>
    </main>
</Layout>
