---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,200"
/>

<Layout title="Periodically Programming">
    <main class="rounded-md bg-[#282c37] border-transparent ml-2">
        <Header title="Home" slug="/" icon="home" />

        <div class="p-4 space-y-6">
            <h2 class="text-2xl font-bold text-center">About Me</h2>
            <p>
                Hi there! I'm Joel, a computer science major at <strong>
                    California State University, Fullerton.
                </strong>
            </p>
            <div class="space-y-5">
                <p>
                    Welcome to my website! This serves as my digital portfolio
                    and contains my blog as well as all my projects. You can
                    expect to find in-depth tutorials, insightful articles, and
                    updates on my latest projects right here on
                    periodicallyprogramming.
                </p>
                <p>
                    I hope you find my blog and projects interesting and
                    informative. Don't hesitate to reach out if you have any
                    questions or suggestions. Happy coding!
                </p>
            </div>

            <h2 class="text-2xl font-bold text-center">Contact</h2>
            <div class="grid pb-4 grid-cols-2 justify-items-center">
                <a href="https://github.com/jjoeldaniel/">GitHub</a>
                <a href="https://www.linkedin.com/in/joeldanielrico/"
                    >LinkedIn</a
                >
                <a href="https://mastodon.social/@jjoel">Mastadon</a>
                <a
                    href="https://github.com/jjoeldaniel/resume/blob/main/resume.pdf"
                    >Resume</a
                >
            </div>
        </div>
    </main>
</Layout>
