---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import { getCollection } from "astro:content";
import BlogPreview from "../components/BlogPreview.astro";

const posts = await getCollection("blog");

// TODO Sort posts by date and retrieve the last 2
const recentPosts = posts.slice(0, 2);
---

<link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,200"
/>

<Layout title="Periodically Programming">
    <main class="rounded-md bg-[#282c37] border-transparent ml-2">
        <Header title="Home" slug="/" icon="home" />

        <div class="flex flex-row place-content-center pt-5 pb-5">
            <img src="/favicon.svg" class="place-self-center" />
            <h1 class="text-3xl font-semibold place-self-center pl-4">
                Periodically Programming
            </h1>
        </div>

        <div class="p-4 space-y-8">
            <p class="indent-4">
                Hi there! I'm Joel, a computer science major at <strong>
                    California State University, Fullerton.
                </strong>
            </p>
            <div class="space-y-6">
                <p>
                    Welcome to my website! This serves as my digital portfolio
                    and contains my blog as well as all my projects. You can
                    expect to find in-depth tutorials, insightful articles, and
                    updates on my latest projects right here on
                    periodicallyprogramming.
                </p>
                <p>
                    I hope you find my blog and projects interesting and
                    informative. Don't hesitate to reach out if you have any
                    questions or suggestions. Happy coding!
                </p>
            </div>

            <h2 class="text-2xl font-bold text-center">Recent Posts</h2>
            <div class="md:p-4 space-y-6">
                {recentPosts.map((post) => <BlogPreview post={post} />)}
            </div>

            <h2 class="text-2xl pb-4 font-bold text-center">Contact</h2>
            <div class="grid pb-4 grid-cols-2 justify-items-center">
                <a
                    class="bg-[#1f232b] border-transparent p-3 mb-4 font-semibold rounded-md"
                    href="https://github.com/jjoeldaniel/">GitHub</a
                >
                <a
                    class="bg-[#1f232b] border-transparent p-3 mb-4 font-semibold rounded-md"
                    href="https://www.linkedin.com/in/joeldanielrico/"
                    >LinkedIn</a
                >
                <a
                    class="bg-[#1f232b] border-transparent p-3 font-semibold rounded-md"
                    href="https://mastodon.social/@jjoel">Mastadon</a
                >
                <a
                    class="bg-[#1f232b] border-transparent p-3 font-semibold rounded-md"
                    href="https://github.com/jjoeldaniel/resume/blob/main/resume.pdf"
                    >Resume</a
                >
            </div>
        </div>
    </main>
</Layout>
