---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,200"
/>

<Layout title="Periodically Programming">
    <main class="rounded-md bg-[#282c37] border-transparent ml-2">
        <Header title="Projects" slug="/projects" icon="star" />

        <div class="p-4 space-y-8">
            <h1 class="text-3xl font-bold">Projects</h1>
        </div>
    </main>
</Layout>
