<link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,500,0,200"
/>

<nav>
    <h1
        class="hidden md:block text-xl font-semibold pb-3 border-b-2 border-[#282c37]"
    >
        <a class="flex" href="/"
            ><img src="/favicon.svg" height="30" width="30" /> Periodially Programming</a
        >
    </h1>

    <ul class="space-y-6 md:space-y-4 md:pl-3 md:pt-1">
        <li class="flex items-center md:hidden">
            <a href="/"><img src="/favicon.svg" class="pr-2" /></a>
        </li>
        <li class="hidden md:flex items-center">
            <a href="">
                <span class="material-symbols-outlined pr-2"> home</span>
                <div class="hidden md:block">
                    <a href="/home">Home</a>
                </div>
            </a>
        </li>
        <li class="flex items-center">
            <a href="">
                <span class="material-symbols-outlined pr-2"> rss_feed</span>
                <div class="hidden md:block">
                    <a href="/home">Blog</a>
                </div>
            </a>
        </li>
        <li class="flex items-center">
            <a href="">
                <span class="material-symbols-outlined pr-2"> star</span>
                <div class="hidden md:block">
                    <a href="/home">Projects</a>
                </div>
            </a>
        </li>
    </ul>
</nav>
