<link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,500,0,200"
/>

<nav>
    <h1
        class="hidden md:block text-xl font-semibold pb-3 border-b-2 border-[#282c37]"
    >
        <a href="/">Periodially Programming</a>
    </h1>

    <ul class="space-y-5 md:pt-3">
        <li class="flex items-center">
            <span class="material-symbols-outlined pr-2"> home</span>
            <div class="hidden md:block">
                <a href="/home">Home</a>
            </div>
        </li>
        <li class="flex items-center">
            <span class="material-symbols-outlined pr-2"> rss_feed</span>
            <div class="hidden md:block">
                <a href="/blog">Blog</a>
            </div>
        </li>
        <li class="flex items-center">
            <span class="material-symbols-outlined pr-2"> trophy</span>
            <div class="hidden md:block">
                <a href="/projects">Projects</a>
            </div>
        </li>
    </ul>
</nav>
