{% extends "template.html" %} {% block nav %}
<ul>
  <li><a href="/home">Home</a></li>
  <li><a href="/projects">Projects</a></li>
  <li><a href="/blog"><strong>Blog</strong></a></li>
  <li><a href="/contact">Contact</a></li>
</ul>
{% endblock %} {% block content %}
<hgroup style="font-family: 'Ubuntu', sans-serif">
  <h1>Blog</h1>
  <h2>An index page for my blog posts!</h2>
</hgroup>

{% for date, items in blog_posts.items() %}
  <h3>{{ date }}</h2>
  <ul>
      {% for item in items %}
          <li>
              <a href="/blog/{{ item.file_name }}">{{ item.name }}</a>
          </li>
      {% endfor %}
  </ul>
{% endfor %}
{% endblock %}
