<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="periodicallyprogramming" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="periodicallyprogramming.com/index" />
    <meta
      property="og:image"
      content="{{ url_for('static', filename='pfp.jpg') }}"
    />
    <meta property="og:description" content="Welcome to my digital resume!" />
    <title>Periodically Programming</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Noto+Sans"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Ubuntu"
    />
    <link rel="icon" href="{{ url_for('static', filename='avalon.ico') }}" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css"
    />
    <title>Periodically Programming</title>
  </head>
  <body>
    <main class="container">
      <nav>
        <div>
          <p>periodicallyprogramming</p>
        </div>

      <p>
        <a href="/home">Home</a>
        <a style="padding-right: 1em; padding-left: 1em" href="/projects">Projects</a>
        <strong>Contact</strong>
      </p>
      <hgroup style="font-family: 'Ubuntu', sans-serif">
        <h1>Blog</h1>
        <h2>A collection of links to all my blog posts!</h2>
      </hgroup>
      </nav>
      {% block content %} {% endblock %}
    </main>

    <footer
      class="container"
      style="display: flex; justify-content: space-between"
    >
      <div>
        Created with 💖 by
        <a
          style="padding-right: 50px"
          href="https://github.com/jjoeldaniel"
          class="text-white"
          >jjoeldaniel</a
        >
      </div>
      <nav>
        <details role="list">
          <summary aria-haspopup="listbox" role="button">Theme</summary>
          <ul role="listbox">
            <li><a href="#" data-theme-switcher="auto">Auto</a></li>
            <li><a href="#" data-theme-switcher="light">Light</a></li>
            <li><a href="#" data-theme-switcher="dark">Dark</a></li>
          </ul>
        </details>
      </nav>
    </footer>
  </body>
  <script src="/static/minimal-theme-switcher.js"></script>
</html>
