{% extends "template.html" %} {% block nav %}
<ul>
  <li><a href="/home">Home</a></li>
  <li><a href="/projects">Projects</a></li>
  <li><a href="/blog">Blog</a></li>
  <li><a href="/contact"><strong>Contact</strong></a></li>
</ul>
{% endblock %} {% block content %}
<hgroup style="font-family: 'Ubuntu', sans-serif">
  <h1>Contact Me</h1>
  <h2>Some of my contact information</h2>
</hgroup>

<ul>
  <li>
    GitHub:
    <a href="https://github.com/jjoeldaniel/" target="_blank">jjoeldaniel</a>
  </li>
  <li>Discord: joel#0005</li>
  <li>
    Twitter:
    <a href="https://twitter.com/jjoeldaniel" target="_blank">jjoeldaniel</a>
  </li>
</ul>
{% endblock %}
