{% extends "template.html" %} {% block nav %}
<p>
  <strong>Home</strong>
  <a href="/projects">&nbsp;Projects&nbsp;</a>
  <a href="/blog">Blog&nbsp;</a>
  <a href="/contact">Contact</a>
</p>
{% endblock %} {% block content %}
<hgroup style="font-family: 'Ubuntu', sans-serif">
  <h1>Joel Daniel Rico</h1>
  <h2>Aspiring Software Engineer</h2>
</hgroup>

<p>
  Welcome to my website! This serves as my digital portfolio and contains my
  blog as well as all my projects. You can expect to find in-depth tutorials
  , insightful articles, and updates on my latest projects right here on 
  periodicallyprogramming. Thank you for visiting periodicallyprogramming. 
  I hope you find my blog and projects interesting and informative. Don't
  hesitate to reach out if you have any questions or suggestions. Happy coding!
</p>

{% endblock %}
