<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='avalon.ico') }}">

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">

    <script>
        window.onload = init;

        function init() {
            document.getElementById("start-btn").addEventListener("click", scroll);
        }

        function scroll() {
            document.getElementById("section-label").scrollIntoView({ behavior: 'smooth', block: 'start'});
        }
    </script>

    <title>Periodically Programming</title>
</head>
<body>
    <header>
        <div class="landing-page-container">
            <button class="landing-1 grow">Joel R.</button>

            <input type="image" id="start-btn" class="landing-2 grow" src="{{ url_for('static', filename='double-down-arrows.svg') }}" />
        </div>
    </header>

    <h1 id="section-label">Featured Projects</h1>

    <div id="projects" class="projects-container">

        <div class="projects-1 project-container">
            <img src="{{ url_for('static', filename='discord-logo.png') }}" alt="floating island">
        
            <div class="project-info-container">
                <h3>Discord Bot</h3>

                <ul>
                    <li>Utilizes Google Apps Script API to translate user messages</li>
                    <li>Implements Spotify API to request album, artist, and playlist info</li>
                    <li> Maintains user currency system, server settings, and user settings with SQLite3</li>
                    <li>3,500+ lines of code developed, maintained, and documented over 6+ months</li>
                </ul>

                <a class="btn" href="https://github.com/jjoeldaniel/Avalon" target="_blank">GitHub</a>
            </div>

        </div>

        <div class="projects-2 project-container">
            <img src="{{ url_for('static', filename='genius-logo.png') }}" alt="ace card">
            
            <div class="project-info-container">
                <h3>Genius API Wrapper</h3>

                <ul>
                    <li>Utilizes Requests HTTP library to communicate with Genius REST API</li>
                    <li>Maintained and hosts active relases on Python Package Index (PyPi)</li>
                    <li>Scrapes HTML from Genius website to parse lyrics</li>
                    <li>Uses GitHub workfows to push releases to PyPi</li>
                </ul>

                <a class="btn" href="https://github.com/jjoeldaniel/genius.py" target="_blank">GitHub</a>
            </div>
        </div>

        <div class="projects-3 project-container">
            <img src="{{ url_for('static', filename='canvas-logo.png') }}" alt="canvas logo">

            <div class="project-info-container">
                <h3>Canvas-Discord Integration</h3>

                <ul>
                    <li>Synchronizes with Canvas through CanvasAPI to provide up-to-date class information to users</li>
                    <li>Collaboration effort with two additional students from CSUF ACM chapter</li>
                    <li>Stores API keys, user IDs, and linked courses using SQLite3</li>
                    <li> Created various functions to interface with Canvas and pull user data (classes, assignments, student information)</li>
                </ul>

                <a class="btn" href="https://github.com/jjoeldaniel/CanvasBot" target="_blank">GitHub</a>
            </div>

        </div>

    </div>

    <footer>

        <div class="footer-container">
            <h2>Contact Me</h2>

            <ul>
                <li><a href="https://github.com/jjoeldaniel" target="_blank">GitHub</a></li>
                <li><a href="mailto:joeldanielrico@gmail.com">joeldanielrico@gmail.com</a></li>
                <li><a href="{{ url_for('static', filename='resume.pdf') }}" target="_blank">Resume</a></li>
                <li><a href="https://www.linkedin.com/in/joeldanielrico/" target="_blank">LinkedIn</a></li>
            </ul>
        </div>

    </footer>
</body>
</html>
