{% extends "template.html" %}

{% block nav %} 
<li>
  <a
    href="https://github.com/jjoeldaniel/periodicallyprogramming"
    target="_blank"
    ><strong>Periodically Programming</strong></a
  >
</li>
<li style="padding-left: 30em"><a href="/home">Home</a></li>
<li><a href="/projects"><strong>Projects</strong></a></li>
<li><a href="/contact">Contact</a></li>
</ul>
{% endblock %}

{% block content %}
<hgroup style="font-family: 'Ubuntu', sans-serif">
  <h1>Projects</h1>
  <h2>A list of projects that I've worked on in the past!</h2>
</hgroup>

<article>
  <h4>Trends Analysis</h4>
  <p>
    A collaborative project within CSUF ACM chapter that uses keyword extraction
    with KeyBERT to analyze user messages and cache extracted data in data
    structures for user requests, generating a JSON file used by GitHub actions
    to deliver content to ACM CSUF website.
  </p>
  <small class="text-muted">January '23 - Present</small>
</article>

<article>
  <h4>Discord Bot</h4>
  <p>
    A Discord bot that implements Spotify API to collect album, artist, and
    playlist info, allowing users to set notification phrases and using prepared
    statements in front-facing user interactions to prevent possible SQL
    injection attacks, with user settings stored in PostgreSQL and ElephantSQL.
  </p>
  <small class="text-muted">May '22 - Present</small>
</article>

<article>
  <h4>Genius API Wrapper</h4>
  <p>
    A project that utilizes Requests HTTP library to communicate with Genius
    REST API, scraping the Genius website to parse song lyrics using Beautiful
    Soup, and currently maintained and hosting active releases on Python Package
    Index (PyPi), with GitHub workflows used to push releases to PyPi.
  </p>
  <small class="text-muted">December '22 - Present</small>
</article>
{% endblock %}
