{% extends "template.html" %} {% block content %}
<nav>
  <ul>
    <li><a href="/home"><strong>periodicallyprogramming</strong></a></li>
  </ul>
  <ul>
    <li>
      <details role="list">
        <summary aria-haspopup="listbox">Projects</summary>
        <ul role="listbox">
          <li><a href="/home">Home</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </details>
    </li>
  </ul>
</nav>

<hgroup style="font-family: 'Ubuntu', sans-serif">
  <h1>Projects</h1>
  <h2>A list of projects that I've worked on in the past!</h2>
</hgroup>

<article>
  <h4>
    <a href="https://github.com/jjoeldaniel/jpass" target="_blank">JPass</a>
    <span style="font-size: smaller; color: gray; padding-left: 15px"
      ><i> Python, Flask, Postgres, JavaScript, Vercel </i></span
    >
  </h4>
  <p>
    A password manager for securely storing user passwords with bcrypt, a
    password-hashing function
  </p>
  <ul>
    <li>
      Implemented login and signup flow with OpenID and OAuth support for Google
      and Email authentication
    </li>
    <li>Created accessible, mobile-friendly web user interface</li>
    <li>
      Built with Python and Flask framework, with a relational database for
      storing encrypted user passwords
    </li>
  </ul>
  <small class="text-muted">February '23 - Present</small>
</article>

<article>
  <h4>
    <a href="https://github.com/jjoeldaniel/keyphrases.rs" target="_blank"
      >keyphrases.rs</a
    >
    <span style="font-size: smaller; color: gray; padding-left: 15px"
      ><i> Rust</i></span
    >
  </h4>
  <p>
    An open-source library for efficient and accurate extraction of keywords
    from large volumes of text
  </p>
  <ul>
    <li>Implemented Rapid Automatic Keyword Extraction (RAKE) algorithm</li>
    <li>
      Designed the library to be flexible, customizable, and scalable, allowing
      users to adjust the library’s parameters and configurations to fit their
      needs
    </li>
    <li>
      Optimized the library’s performance and memory usage to ensure efficient
      processing of large volumes of text data
    </li>
    <li>
      Contributed to the open-source community by sharing the library’s source
      code and documentation on GitHub and crates.io
    </li>
  </ul>
  <small class="text-muted">March '23 - Present</small>
</article>

<article>
  <h4>
    <a href="https://github.com/jjoeldaniel/discord-keywords" target="_blank"
      >Trends Analysis</a
    >
    <span style="font-size: smaller; color: gray; padding-left: 15px"
      ><i> Python, KeyBERT</i></span
    >
  </h4>
  <p>
    Identifies key trends and patterns in user activity, including peak hours of
    usage, most popular channels, and frequently used words and phrases.
  </p>
  <ul>
    <li>
      Conducted data analysis on a Discord server with over 1,000 members to
      identify trends and patterns in user behavior
    </li>
    <li>
      Utilized a Bidirectional Encoder Representations from Transformers (BERT)
      model library to extract relevant keywords from Discord messages
    </li>
    <li>
      Extracted relevant data using Discord API and web scraping techniques to
      collect information on user activity, message content, and channel usage
    </li>
    <li>
      Visualized data using charts, graphs, and other visualization tools to
      highlight trends and patterns in user behavior
    </li>
  </ul>
  <small class="text-muted">January '23 - Present</small>
</article>

<article>
  <h4>
    <a href="https://github.com/jjoeldaniel/genius.py" target="_blank"
      >Genius API Wrapper</a
    >
    <span style="font-size: smaller; color: gray; padding-left: 15px"
      ><i> Python, Requests, Web Scraping</i></span
    >
  </h4>
  <p>
    A Python-based Genius API wrapper to facilitate access to the Genius lyrics
    database, enabling users to search for and retrieve lyrics and other
    song-related data.
  </p>
  <ul>
    <li>
      Published on Python Package Index (PyPI), resulting in over 5,000
      downloads and numerous positive reviews and feedback from users
    </li>
    <li>Utilized Requests HTTP library to communicate with Genius REST API</li>
    <li>
      Tested and validated accuracy and effectiveness in retrieving relevant and
      up-to-date song data, including lyrics, album art, artist information, and
      song metadata
    </li>
    <li>
      Implemented the API wrapper to provide a range of functionality, including
      searching for song lyrics, retrieving song metadata, and accessing song
      annotations and explanations
    </li>
  </ul>
  <small class="text-muted">December '22 - Present</small>
</article>
{% endblock %}
