<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="periodicallyprogramming" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="periodicallyprogramming.com/index" />
    <meta
      property="og:image"
      content="{{ url_for('static', filename='pfp.jpg') }}"
    />
    <meta property="og:description" content="Welcome to my digital resume!" />
    <title>Periodically Programming</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Noto+Sans"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Ubuntu"
    />
    <link rel="icon" href="{{ url_for('static', filename='avalon.ico') }}" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css"
    />
    <title>Periodically Programming</title>
    <style>
      .codehilite {
        background: none;
      }
      [data-theme="dark"] {
        background-color: #21262d;
      }
      article {
        background-color: #161b22;
      }
      a:hover {
        color: #7ce38b;
      }
      a {
        color: #77bdfb;
      }
    </style>
  </head>
  <body>
    <main class="container">
      <nav>
        <div>
          <p>periodicallyprogramming</p>
        </div>
        {% block nav %} {% endblock %}
      </nav>
      {% block content %} {% endblock %}
    </main>

    <footer
      class="container"
      style="display: flex; justify-content: space-between"
    >
      <div>
        Created with 💖 by
        <a
          style="padding-right: 50px"
          href="https://github.com/jjoeldaniel"
          class="text-white"
          >jjoeldaniel</a
        >
      </div>
    </footer>
  </body>
</html>
